mst-service/custom/MARCNormalization/conf/mst.xsd

<xs:schema targetNamespace="http://www.extensiblecatalog.org/xsd/mst/1.0"
        xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">
  <xs:element name="oai-identifier">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="scheme" type="xs:string"/>
				<xs:element name="repositoryIdentifier" type="xs:string"/>
				<xs:element name="delimiter" type="xs:string"/>
				<xs:element name="sampleIdentifier" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
